# docker-compose.yml
services:
  app:                    # ← web 아님
    image: eun-blog:latest
    container_name: eun-blog
    ports:
      - "8082:8082"         # ← 8082:80 로 수정
    restart: always
    environment:
      - TZ=Asia/Seoul
