services:
  app:
    build:
      context: .              # Dockerfile 있는 폴더
      dockerfile: Dockerfile  # 이름이 Dockerfile이면 생략 가능
      args:
        NEXT_PUBLIC_API_BASE_URL: "https://api.euntaek.cc"   # ← 여기 하드코딩
    image: eun-blog:latest
    container_name: eun-blog
    ports:
      - "8082:8082"
    restart: always
    environment:
      - TZ=Asia/Seoul
    # env_file: .env   ← 요 줄(또는 비슷한 줄)이 있다면 반드시 삭제
